PREFIX='cd /home/ec2-user/coinkarasu_api && RAILS_ENV=production bundle exec rake'
SUFFIX='--silent >>/home/ec2-user/coinkarasu_api/log/cron.log 2>&1'

 * * * * * /bin/bash -l -c "$PREFIX coincheck:sales_rates:update $SUFFIX"
 * * * * * /bin/bash -l -c "$PREFIX coincheck:trading_rates:update $SUFFIX"
 0 * * * * /bin/bash -l -c "$PREFIX cryptocompare:top_pairs:update $SUFFIX"
30 * * * * /bin/bash -l -c "$PREFIX cryptocompare:coin_snapshots:update $SUFFIX"
